.VehiculoTurnoContenidoTitulo {
    width: 1024px;
    height: 20px;
    float: left;
    margin: 5px 0px 1px 0px;
    color: #353535;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.VehiculoTurnoContenidoDiv {
    width: 864px;
    height: 1px;
    background-color: #999999;
    margin: 0px 80px 2px 80px;
    float: left;
}

.VehiculoTurnoPanel {
    width: 450px;
    height: 450px;
    float: left;
    padding: 15px 0px 0px 0px;
    margin-top: 2px;
}

.VehiculoTurnoContenido {
    /* width:              570px;
    height:             460px;
    float:              right;
    margin-top:         2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VehiculoTurnoPanelTitulo {
    height: 20px;
    width: 350px;
    text-align: left;
    font-size: 12px;
    margin: 5px 0px 0px 80px;
    float: left;
    font-weight: bold;
    color: #9D9D9D;
}

.VehiculoTurnoPanelTituloespacio {
    height: 10px;
    width: 350px;
    text-align: left;
    margin: 5px 0px 0px 80px;
    float: left;
}

.VehiculoTurnoPanelLabel {
    height: 20px;
    width: 80px;
    text-align: left;
    font-size: 11px;
    margin: 3px 0px 1px 80px;
    padding: 4px 0px 0px 15px;
    float: left;
    color: #3E3E3E;
    font-weight: bold;
    background: url('../images/background/LabelNaranja.png');
    background-repeat: repeat-x;
    border-radius: 5px;
}

.VehiculoTurnoPanelTextbox {
    width: 205px;
    height: 19px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 25px 2px 2px;
    float: left;
    color: #3E3E3E;
    padding: 3px 15px 0px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E7F1;
    border-radius: 4px;
}

.VehiculoTurnoPanelTextboxfull {
    width: 240px;
    height: 21px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 25px 2px 2px;
    float: left;
    color: #3E3E3E;
    padding: 0px 0px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E7F1;
    border-radius: 4px;
}

.VehiculoTurnoPanelCombobox {
    height: 19px;
    width: 240px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 5px 4px 3px;
    float: left;
    color: #3E3E3E;
    /*padding:            3px 15px 0px 20px;*/
    border-width: 0px;
    border-style: solid;
    border-color: #E3E7F1;
    border-radius: 4px;
}

.VehiculoTurnoPanelTextboxTaller {
    height: 19px;
    width: 220px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 25px 2px 2px;
    float: left;
    color: #3E3E3E;
    padding: 3px 0px 0px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E7F1;
    border-radius: 4px;
}

.VehiculoTurnoPanelTextboxTaller2 {
    height: 19px;
    width: 237px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 25px 2px 2px;
    float: left;
    color: #3E3E3E;
    padding: 3px 0px 0px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E7F1;
    border-radius: 4px;
}

.VehiculoTurnoPanelButtonTaller {
    height: 20px;
    width: 20px;
    font-size: 11px;
    font-weight: bold;
    float: right;
    color: #FFFFFF;
    margin: -2px 3px 0px 0px;
    background: url('../images/background/LabelNaranja.png');
    background-repeat: repeat-x;
    border-radius: 5px;
}

.VehiculoTurnoPanelButton {
    height: 25px;
    width: 120px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    /* margin: -15px 0px 0px 228px; */
    float: left;
    color: #FFFFFF;
    background: url('../images/background/LabelNaranja.png');
    background-repeat: repeat-x;
    border-radius: 5px;
}

.VehiculoTurnoContenidoInfo {
    /* width: 560px; */
    height: 30px;
    /* float: left; */
    color: #3E3E3E;
    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;
    /*  margin: 0px 0px 0px 4px;
    padding: 5px 0px 0px 0px; */
    /* background-color: #FFFFFF; */
}

.VehiculoTurnoContenidoTextoDescriptivo {
    height: 17px;
    /* width: 60px; */
    float: left;
    font-size: 10px;
    margin: 15px 0px 0px 2px;
    padding-right: 10px;
}

.VehiculoTurnoContenidoImagenDescriptivoA {
    height: 12px;
    width: 12px;
    float: left;
    /* margin: 16px 5px 0px 90px; */
    margin-top: 1.5rem;
    background: url('../images/background/visto.png');
    background-size: 12px 12px;
    background-color: #FEFFC6;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
}

.VehiculoTurnoContenidoImagenDescriptivoB {
    height: 12px;
    width: 12px;
    float: left;
    margin: 16px 5px 0px 5px;
    background-color: #FFFFFF;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
}

.VehiculoTurnoContenidoImagenDescriptivoC {
    height: 12px;
    width: 12px;
    float: left;
    margin: 16px 5px 0px 5px;
    background: url('../images/background/nodisponibleicon.png');
    background-size: 13px 13px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
}

.VehiculoTurnoContenidoImagenDescriptivoD {
    height: 12px;
    width: 12px;
    float: left;
    margin: 16px 5px 0px 5px;
    background: url('../images/background/ocupadoicon.png');
    background-size: 13px 13px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
}

.VehiculoTurnoContenidoCalendario {
    width: 90%;
    /* max-width: 32rem; */
    height: 280px;
    /* float: left; */
    font-size: 1.2rem;
    margin: 0 1rem;
    /* background-color: #FFFFFF; */
}

.VehiculoTurnoContenidoBotonesCalendario {
    /* width: 30px; */
    /* height: 160px; */
    /* float: left; */
    font-size: 12px;
    margin: 1rem;
    /* margin-left: 9px; */
    /* background-color: #FFFFFF; */
    /* padding: 120px 0px 0px 0px; */
}

.VehiculoTurnoContenidoBotonesCalendarioAnterior,
.VehiculoTurnoContenidoBotonesCalendarioSiguiente {
    width: 40px;
    height: 40px;
    /* float: left; */
    font-size: 12px;
    /* margin: 0px 0px 0px 0px; */
    background-color: #E9EDF0;
    /* border: 0px none #FFFFFF; */
    /* border-bottom-left-radius: 8px; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 .3rem .6rem;
}

.VehiculoTurnoContenidoEspacioCalendario {
    width: 65px;
    height: 210px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    background-color: #FFFFFF;
    padding: 170px 0px 0px 0px;
}

.VehiculoTurnoContenidoCalendarioCabecera {
    width: 99.5%;
    /*320px;*/
    height: 47px;
    float: left;
    margin: 10px 0px 0px 0px;
    color: #3E3E3E;
    text-align: center;
    border: solid 1px #A7A7A7;
    background: #DCDCDC;
}

.VehiculoTurnoContenidoCalendarioCabeceraHora {
    width: 12.5%;
    /*40px;*/
    height: 30px;
    float: left;
    margin: 0px 0px 0px 0px;
    padding-top: 17px;
    color: #3E3E3E;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.VehiculoTurnoContenidoCalendarioCabeceraFecha {
    width: 87.1%;
    /*279px;*/
    height: 17px;
    float: left;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 10px;
    border-bottom: solid 1px #A7A7A7;
    border-left: solid 1px #A7A7A7;
    background: #DCDCDC;
}

.VehiculoTurnoContenidoCalendarioDia {
    width: 12.15%;
    /*39px;*/
    height: 29px;
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 9px;
    text-align: center;
    color: #3E3E3E;
    font-weight: bold;
    border-left: solid 1px #A7A7A7;
    border-bottom: solid 0px #A7A7A7;
    background: rgb(216, 216, 216);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(216, 216, 216, 1) 0%, rgba(244, 244, 244, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(216, 216, 216, 1)), color-stop(100%, rgba(244, 244, 244, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(216, 216, 216, 1) 0%, rgba(244, 244, 244, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(216, 216, 216, 1) 0%, rgba(244, 244, 244, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(216, 216, 216, 1) 0%, rgba(244, 244, 244, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(216, 216, 216, 1) 0%, rgba(244, 244, 244, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f4f4f4', GradientType=0);
    /* IE6-9 */
}

.VehiculoTurnoContenidoCalendarioespacio {
    width: 105%;
    /*330px;*/
    height: 1px;
    /* background-color: #FFFFFF; */
    margin: 0px 0px 0px 0px;
    float: left;
}

.VehiculoTurnoContenidoCalendarioCuerpo {
    width: 100%;
    /*321px;*/
    height: 217px;
    float: left;
    margin: 0px 0px 0px 0px;
    color: #3E3E3E;
    text-align: center;
    background-color: #ebebeb;
    border-left: solid 1px #A7A7A7;
    border-bottom: solid 1px #A7A7A7;
    -webkit-box-shadow: 3px 3px 5px #898989;
    -moz-box-shadow: 3px 3px 5px #898989;
}

.VehiculoTurnoContenidoCalendarioHora {
    width: 12.5%;
    /*40px;*/
    height: 20px;
    float: left;
    padding-top: 10px;
    color: #3E3E3E;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #A7A7A7;
    border-right: solid 1px #A7A7A7;
}

.VehiculoTurnoContenidoCalendarioContenido {
    width: 12.11%;
    /*39px;*/
    height: 30px !important;
    float: left;
    margin: 0px 0px 0px 0px;
    background-color: #FFFFFF !important;
    border-right: solid 1px #A7A7A7;
    border-top: solid 1px #A7A7A7;
    /*border-left:        solid 1px #A7A7A7;
    border-bottom:      solid 1px #A7A7A7;
    background:         url('../images/background/ocupado.png');*/
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Times;
}

.divmodal {
    width: 410px;
    height: 120px;
    position: absolute;
    margin: 200px 0px 0px 350px;
    background-color: #EEEEEE;
    border: solid 2px #DCDCDC;
    border-style: double;
    border-radius: 5px;
    filter: alpha(opacity=94);
    opacity: 0.94;
    font-size: 12px;
    visibility: hidden;
}

.divmodal_titulo {
    width: 395px;
    height: 13px;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    background-color: #EEEEEE;
    text-align: left;
    color: #3E3E3E;
    border: solid 1px #EEEEEE;
    border-radius: 5px;
}

.divmodal_mensaje {
    width: 397px;
    height: 38px;
    margin: 10px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    background-color: #EEEEEE;
    text-align: center;
    color: #000000;
}

.divmodal_botonera {
    width: 403px;
    height: 35px;
    text-align: center;
    margin: 3px 3px 3px 3px;
    background-color: #EEEEEE;
}

.divmodal_boton {
    width: 100px;
    height: 30px;
    text-align: center;
    float: left;
    font-weight: bold;
    background-color: #CBCBCB;
    border-radius: 5px;
}

.divmodal_espacio {
    width: 67px;
    height: 30px;
    float: left;
}

.botonera {
    width: 390px;
    height: 30px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.espacio {
    margin-top: 60px;
    width: 5px;
    height: 30px;
    float: left;
}

.divtracking {
    width: 1024px;
    height: 70px;
    margin: -60px 0px 0px 0px;
    position: relative;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    color: #9D9D9D
}

.divtracking_etapa {
    width: 256px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    position: relative;
    float: left;
    position: relative;
}

div#vacio {
    background-color: #DCDCDC;
    border: 0px none #FFFFFF;
    width: 550px;
    height: 4px;
    padding: 0px 0px 0px 0px;
}

div#div_completado {
    position: relative;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ed9108', endColorstr='#ed9108', GradientType=0);
    background: #ed9108;
}

.div_circulo {
    width: 27px;
    height: 27px;
    margin: -27px 0px 0px 0px;
    position: relative;
    float: left;
    position: absolute;
    border: 0px none #FFFFFF;
    border-radius: 20px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background: #ed9108;
    /*background:         -moz-linear-gradient(top,  #FFE9C5 0%, #ed9108 100%, #ed9108 100%); 
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE9C5), color-stop(100%,#ed9108), color-stop(100%,#ed9108));
    background:         -webkit-linear-gradient(top,  #FFE9C5 0%,#ed9108 100%,#ed9108 100%); 
    background:         -o-linear-gradient(top,  #FFE9C5 0%,#ed9108 100%,#ed9108 100%); 
    background:         -ms-linear-gradient(top,  #FFE9C5 0%,#ed9108 100%,#ed9108 100%);
    background:         linear-gradient(to bottom,  #FFE9C5 0%,#ed9108 100%,#ed9108 100%); 
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE9C5', endColorstr='#ed9108',GradientType=0 ); */
}

.div_texto {
    width: 100px;
    height: 18px;
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    float: left;
    color: #444444;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    border-style: none;
}

div#div_barra {
    position: relative;
    top: 0px;
    left: 2px;
    color: #0033FF;
    padding: 0px;
    padding-top: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1px;
    visibility: hidden;
}

div#div_boton {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1px;
    visibility: hidden;
}

.div_icono_texto {
    position: relative;
    float: left;
    width: 120px;
    height: 20px;
    margin: -20px 0px 0px 68px;
    font-size: 12px;
    font-weight: bold;
    color: #9D9D9D;
}

.div_icono {
    position: relative;
    float: left;
    width: 120px;
    height: 40px;
    margin: 0px 0px 0px 68px;
}

.divtooltip_custom {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    z-index: 600;
}

.divtooltip_custom_arrowup {
    width: 0;
    height: 0;
    position: relative;
    float: left;
    margin: 0px 0px 0px 140px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    /*border-bottom:      10px solid rgba(45,45,45,0.8);*/
}

.divtooltip_custom_contenido {
    width: 290px;
    height: auto;
    position: relative;
    float: left;
    margin: 0px 5px 0px 5px;
    /*background:         rgba(0,0,0,0.8);*/
    background: rgb(45, 45, 45, 0.8);
    background: -moz-linear-gradient(top, rgba(45, 45, 45, 0.8) 0%, rgba(43, 43, 43, 0.8) 24%, rgba(63, 63, 63, 0.8) 46%, rgba(173, 173, 173, 0.8) 75%, rgba(170, 170, 170, 0.8) 88%, rgba(224, 224, 224, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(45, 45, 45, 0.8)), color-stop(24%, rgba(43, 43, 43, 0.8)), color-stop(46%, rgba(63, 63, 63, 0.8)), color-stop(75%, rgba(173, 173, 173, 0.8)), color-stop(88%, rgba(170, 170, 170, 0.8)), color-stop(100%, rgba(224, 224, 224, 0.8)));
    background: -webkit-linear-gradient(top, rgba(45, 45, 45, 0.8) 0%, rgba(43, 43, 43, 0.8) 24%, rgba(63, 63, 63, 0.8) 46%, rgba(173, 173, 173, 0.8) 75%, rgba(170, 170, 170, 1) 88%, rgba(224, 224, 224, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(45, 45, 45, 0.8) 0%, rgba(43, 43, 43, 0.8) 24%, rgba(63, 63, 63, 0.8) 46%, rgba(173, 173, 173, 0.8) 75%, rgba(170, 170, 170, 0.8) 88%, rgba(224, 224, 224, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(45, 45, 45, 0.8) 0%, rgba(43, 43, 43, 0.8) 24%, rgba(63, 63, 63, 0.8) 46%, rgba(173, 173, 173, 0.8) 75%, rgba(170, 170, 170, 0.8) 88%, rgba(224, 224, 224, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0.8) 0%, rgba(43, 43, 43, 0.8) 24%, rgba(63, 63, 63, 0.8) 46%, rgba(173, 173, 173, 0.8) 75%, rgba(170, 170, 170, 0.8) 88%, rgba(224, 224, 224, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#e0e0e0', GradientType=0);
    border-width: 0px;
    border-style: double;
    border-color: #FFFFFF;
    -webkit-box-shadow: 3px 3px 5px #898989;
    -moz-box-shadow: 3px 3px 5px #898989;
}

.divtooltip_custom_lineainternatitulo {
    width: 260px;
    height: 15px;
    position: relative;
    float: left;
    margin: 10px 0px 5px 15px;
    background-color: transparent;
    font-size: 13px;
    color: White;
    font-family: Calibri, Verdana, Arial;
}

.divtooltip_custom_lineainternalabel {
    width: 75px;
    height: 14px;
    position: relative;
    float: left;
    margin: 3px 0px 0px 25px;
    background-color: transparent;
    font-size: 11px;
    color: White;
    font-family: Calibri, Verdana, Arial;
}

.divtooltip_custom_lineainternatextbox {
    width: 150px;
    height: 14px;
    position: relative;
    float: left;
    margin: 3px 0px 0px 5px;
    background-color: transparent;
    font-size: 11px;
    color: White;
    font-family: Calibri, Verdana, Arial;
}

.divtooltip_custom_lineainternadivisor {
    width: 200px;
    height: 1px;
    position: relative;
    float: left;
    margin: -8px 0px 0px 45px;
    background-color: #DCDCDC;
    font-size: 1px;
}

.divtooltip_custom_lineainternalistado {
    width: 240px;
    height: auto;
    position: relative;
    float: left;
    margin: -5px 0px 10px 20px;
    padding: 5px 5px 0px 5px;
    background-color: transparent;
    border-style: none;
    font-size: 11px;
    font-weight: bold;
    /**/
    /*color:              White;*/
    color: #000000;
    font-family: Calibri, Verdana, Arial;
}

.divmodalorden {
    width: 94%;
    height: 94%;
    margin: 20px 0px 0px 30px;
}

.divmodalordentitulo {
    width: 300px;
    height: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: Calibri;
}