
/*@media screen and ( min-width:751px) and ( max-width:1250px) and (orientation : portrait)
{*/
.inhalt
{
    width: 716px;
    height: 640px;
    padding-top: 1px;
    /*margin: auto;
    margin-top: -7px;*/
    margin: -8px auto auto auto;
    background-color: #414141;
}

#banner2
{
    padding: 0px;
    width: 100%;
    height: 350px;
    padding-top: 1px;
    margin: auto;
}

.banner3
{
    float: left;
    width: 682px;
    height: 320px;
    margin: 16px 17px 0 17px;
    background: url('../Images/Tablet/hunter_online_portadaT.png');
    background-repeat: no-repeat;
}

.login_sec
{
    float: left;
    width: 100%;
    height: 240px;
    margin: auto;
}

.animacion_carga_inicial
{
    position: relative;
    margin: 305px 0px 0px 300px;
    width: 130px;
    height: 30px;
    background-color: transparent;
}

.login_sec_007
{
    float: left;
    width: 150px;
    height: 20px;
    padding: 0px 0 0px 73px;
}

.login_sec_008
{
    float: left;
    width: 150px;
    height: 20px;
    padding: 0px 0 0px 115px;
}

#footer
{
    float: left;
    width: 100%;
    height: 56px;
}

.copyright
{
    float: left;
    margin: 0px;
    padding: 10px 0 0 20px;
    text-align: left;
    width: 75%;
    height: 64px;
    color: #FFFFFF;
    font-size: 11px;
}

.login_secc_ssl_certificado
{
    float: left;
    width: 20%;
    height: 76px;
}
/*}*/


/*@media screen and ( min-width:751px) and ( max-width:1250px) and (orientation : landscape)
{
    .inhalt
    {
        padding: 0px;
        width: 95%;
        height: 768px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #39EA5A;
    }

    #banner2
    {
        padding: 0px;
        width: 95%;
    }
    .banner3
    {
        width: 95%;
        float: left;
        margin: 25px 25px 0 25px;
        background: url('../Images/Tablet/hunter_online_portadaT.png');
        background-repeat: no-repeat;
    }
}*/


