/*login page*/
.Container
{
    margin: auto auto;
    padding: 0px;
    width: 850px;
    background-color: #ffffff;
    height: 460px;
}

.inhalt_anterior
{
    margin: auto auto;
    padding: 0px;
    width: 850px;
    background-color: #ffffff;
    height: 480px;
}

.inhalt
{
    padding: 0px;
    width: 1024px;
    height: 740px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    /*background: url('../Images/background/Fondo_Inicio.jpg');
    background-repeat: no-repeat;
    background-position: top center;*/
}

#banner2
{
    padding: 0px;
    height: 130px;
    margin-bottom: 24px; /*background-color: rgba(26, 26, 26, 0.4);*/ /*background-color: #71171B;*/
    background: url('../Images/background/Rojo_Superior.png');
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.2) inset;
}

.logo_image
{
    float: left;
    width: 350px;
    margin-left: 0px;
    margin-top: 15px;
    text-align: left;
    background-image: url('../images/background/Logo_Hunter.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 80px;
}

.login_sec_animation_anterior
{
    float: left;
    width: 260px;
    height: 176px;
    margin: 5px 5px;
    padding: 10px 0 10px 22px;
}

.login_sec_animation
{
    float: left;
    width: 625px;
    height: 400px;
    /*margin: 5px 5px;*/
    /*padding: 10px 0 10px 22px;*/
    padding: 120px 40px 10px 40px;
}

.login
{
    margin: 0 auto;
    width: 280px;
    margin-top: 120px;
}

.login_sec
{
    float: left;
    margin: auto auto;
    width: 1024px;
    height: 480px;
}

.login_sec_001_anterior
{
    float: right;
    width: 330px;
    height: 300px;
    margin: 0px 5px;
}

.login_sec_001
{
    float: left;
    width: 250px;
    height: 320px;
    /*margin: 0px 5px;*/ /*background-color:rgba(14,24,28,0.6);  background:rgba(14,24,28,0.6);  color:rgba(14,24,28,0.6);*/
    background-color: #0E181C;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border: 0px #525252 solid;
   /* background-color: rgba(0, 44, 49, 0.35);
    background: rgba(0, 44, 49, 0.35);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.1) inset;
}

.login_sec_002
{
    float: left;
    width: 220px;
    height: 150px;
    margin: 0px 5px;
    padding: 10px 0 0px 22px;
}

.login_sec_003
{
    float: left;
    width: 220px;
    height: 50px;
    margin: 0px 5px;
    padding: 10px 0 0px 22px;
    color: #FFFFFF;
}

/*.login_sec_004
{
    float: left;
    width: 300px;
    height: 20px;
    margin: 0px 0px;
    padding-left: 10px;
    color: #A40B0B;
}*/

.login_sec_004
{
    float: left;
    width: 1007px;
    height: 20px;
    margin: 5px 5px;
    padding: 5px 0 5px 10px;
    font-weight: bold;
    color: Maroon;
    font-size: 16px;
   
}

.login_sec_004_1
{
    float: left;
    width: 1007px;
    height: 30px;
    text-align:center;
    font-weight: bold;
    margin: 5px 5px;
    color: Maroon;
    font-size: 16px;
    margin-top:-8px;
    background:url(../images/background/NavegatorWrong.png);
    background-repeat: repeat-x;
}

.login_sec_005
{
    float: left;
    width: 220px;
    height: 20px;
    margin: 0px 5px;
    padding: 10px 0 0px 22px; /* background-position: left;     background-image: url('../images/background/Flecha_Derecha.png');     background-repeat: no-repeat;*/
}

.login_sec_006
{
    float: left;
    width: 300px;
    height: 411px;
    margin: 20px 0px 0px 5px;
}

.login_sec_007
{
    float: left;
    width: 130px;
    height: 20px;
    padding: 0px 0 0px 73px;
}

.login_sec_008
{
    float: left;
    width: 70px;
    height: 20px;
}

.login_sec_009
{
    float: left;
    width: 135px;
    height: 20px;
}

.login_sec_010
{
    float: left;
    width: 100px;
    height: 20px;
}

.login_sec_011
{
    float: left;
    width: 60px;
    height: 25px;
    padding: 0px 0 0px 120px;
}

.login_img_002
{
    float: left;
    width: 315px;
    margin: 5px 5px;
    text-align: center;
    height: 80px;
}

.login_secc_ssl_certificado
{
    float: left;
    /*width: 505px;*/
    width: 150px;
    height: 76px;
}

body
{
    font-size: 14px;
    color: Black;
    padding: 10px;
    margin: 0px;
    font-family: 'Open Sans' , Calibri, Candara, Arial, sans-serif; /*background-color:#C6C6C6;*/
    /*background-color: #5B5757;*/
    background-color: white;
}

body2
{
    font-size: 14px;
    color: Black;
    padding: 10px;
    margin: 0px;
    font-family: 'Open Sans' , Calibri, Candara, Arial, sans-serif;
}

h3
{
    color: black;
    margin: 0;
    font-weight: bold;
}

#footer_anterior
{
    margin: auto auto;
    width: 850px;
    background-color: #ffffff;
    height: 60px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    color: #3a3a3a;
    padding: 0px;
}

#footer
{
    /*margin-top:490px;*/ /*margin:490px 0;*/
    margin-top: 60px;
    float: left;
    width: 1024px;
    height: 80px; /* background-color: #71171B;*/
    background: url('../Images/background/Rojo_Inferior.png');
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /*box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.2) inset;*/
}

.copyright
{
    float: left;
    margin: 0px;
    padding: 10px 0 0 20px;
    text-align: left;
    /*width: 488px;*/
    width: 820px;
    height: 64px;
    color: #FFFFFF;
    font-size:11px;
}

.footer_image
{
    float: left;
    margin: 0px;
    padding: 5px 0 0 20px;
    text-align: left;
    width: 280px;
    height: 50px;
}

.content_user
{
    float: right;
    width: 300px;
    margin-right: 5px;
    margin-top: 0px;
    height: 110px;
    padding: 5px 5px;
    margin-left: 10px;
    background-position: left;
    background-image: url('../images/background/Redes_1800_Call_Center.png');
    background-repeat: no-repeat;
}

.boton_login
{
    font-weight: bold;
    font-size: x-small;
    text-align: center;
    /*color: White;*/
    color: Black;
    /*background-color: #1F1F1F;*/
    background-color: #FFFFFF;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /*box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.9) inset;*/
}

.goButtonloginHov .rbText
{
    /*color: Yellow !important;*/
    color: #1F1F1F !important;
}
