<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>-->
	  <httpHandlers>
		  <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
	  </httpHandlers>
    <customErrors mode="Off" />
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />-->
    <compilation debug="true" targetFramework="4.8" />
	  <httpRuntime executionTimeout="1800" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <httpProtocol />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ProyectName" value="HunterOnline" />
    <add key="SmptCliente" value="10.100.89.34" />
    <add key="ErrorMailTo" value="galvarado@carsegsa.com;fontaneda@carsegsa.com" />
    <add key="PagoConfirmacionBCC" value="galvarado@carsegsa.com;fontaneda@carsegsa.com;vreyes@carsegsa.com" />
    <add key="ErrorMailAddress" value="informe_hunteronline@carsegsa.com" />
    <add key="VentasMailAddress" value="hunteronline@carsegsa.com" />
    <add key="VentasMailUser" value="" />
    <add key="VentasMailPassword" value="" />
    <add key="RegistroUsuarioMailToBcc" value="galvarado@carsegsa.com;fontaneda@carsegsa.com;vreyes@carsegsa.com" />
    <add key="PromocionMailToBcc" value="galvarado@carsegsa.com;fontaneda@carsegsa.com;vreyes@carsegsa.com" />
    <add key="UsuarioMailToBcc" value="galvarado@carsegsa.com;fontaneda@carsegsa.com;vreyes@carsegsa.com" />
	<add key="KeyEncr" value="Hunter2025" />
    <!-- CREDENCIALES PAYMENTEZ DESARROLLO-->
    <!--<add key="UsrClientPaymentez" value="TESTECUADORSTG-EC-CLIENT"/>
    <add key="KeyClientPaymentez" value="d4pUmVHgVpw2mJ66rWwtfWaO2bAWV6"/>
    <add key="UsrServerPaymentez" value="TESTECUADORSTG-EC-SERVER"/>
    <add key="KeyServerPaymentez" value="67vVmLALRrbSaQHiEer40gjb49peos"/>
	<add key="UrlPaymentez" value="https://ccapi-stg.paymentez.com/v2/transaction/init_reference/"/>
    <add key="UrlRefoundPaymentez" value="https://ccapi-stg.paymentez.com/v2/transaction/refund/"/>
    <add key="UrlDeleteDAPaymentez" value="https://ccapi-stg.paymentez.com/v2/card/delete/"/>
    <add key="UrlListCardDAPaymentez" value="https://ccapi-stg.paymentez.com/v2/card/list/"/>
    <add key="UrlProcesaDAPaymentez" value="https://ccapi-stg.paymentez.com/v2/transaction/debit/"/>
    <add key="IdEntornoPaymentez" value="stg"/>
    <add key="IdPromoDebitoAut" value="1313"/>
    <add key="IdLenguajePaymentez" value="es"/>-->
    <!-- CREDENCIALES PAYMENTEZ PRODUCCION-->
    <add key="UsrClientPaymentez" value="HUNTER-EC-CLIENT" />
    <add key="KeyClientPaymentez" value="p6PG1kve33qC7zs3qKbiOLveZxeVjl" />
    <add key="UsrServerPaymentez" value="HUNTER-EC-SERVER" />
    <add key="KeyServerPaymentez" value="rn14K1f6ZR9OJbsCcSPHiomyvbf37j" />
    <add key="UsrClientPaymentezPCF" value="HUNTERBDP-EC-CLIENT" />
    <add key="KeyClientPaymentezPCF" value="7nPuz8IGmvaGx64b5F03hRgKb1ZCND" />
    <add key="UsrServerPaymentezPCF" value="HUNTERBDP-EC-SERVER" />
    <add key="KeyServerPaymentezPCF" value="9UG0UeWnsIKILfUTctEd4xBpkGE5M4" />
    <add key="UrlPaymentez" value="https://ccapi.paymentez.com/v2/transaction/init_reference/"/>
    <add key="UrlRefoundPaymentez" value="https://ccapi.paymentez.com/v2/transaction/refund/" />
    <add key="IdEntornoPaymentez" value="prod" />
    <add key="IdLenguajePaymentez" value="es" />
    <!-- CREDENCIALES INTERDIN DESAROLLO-->
    <!--<add key="DinersRuta" value="https://test.placetopay.ec/redirection//api/session/"/>
    <add key="DinersSitio" value="CARSEG S.A. - Pruebas Sitio Web"/>
    <add key="DinersLogin" value="3ea30a9f9759e3b6cb1a36e664cffd81"/>
    <add key="DinersClave" value="6WnBzW3z2SqOMi3n"/>
    <add key="DinersLenguaje" value="es_EC"/>
    <add key="DinersMoneda" value="USD"/>
    <add key="DinersRetorno" value="https://www.hunteronline.com.ec/extranetrest/api/return/JSReadReference"/>-->
    <!--https://www.hunteronline.com.ec/extranet/ventas/cotizadorurlretorno.aspx EXTRA-->
    <!-- CREDENCIALES INTERDIN PRODUCCION-->
    <add key="DinersRuta" value="https://checkout.placetopay.ec/api/session" />
    <add key="DinersSitio" value="CARSEG S.A. - Sitio Web Transaccional" />
    <add key="DinersLogin" value="0331486b1f3cc198b78694e3f4ba88ce" />
    <add key="DinersClave" value="54P63BcsGkMR1wY0" />
    <add key="DinersLenguaje" value="es_EC" />
    <add key="DinersMoneda" value="USD" />
    <add key="DinersRetorno" value="https://www.hunteronline.com.ec/extranetretorno/api/return/JSReadReference" />
    <!-- CREDENCIALES NETSUITE DESA-->
    <!--<add key="NSentorno" value="7451241-SB1"/>
    <add key="NSConsumerKey" value="6f3a2e5e127e424c19aa356db71003249c30b76db87313957c1173a289f9dd50"/>
    <add key="NSConsumerSecret" value="440ee65dc7a866eae248225026e76013850dfcf85568a6c2a5f4535e0e050511"/>
    <add key="NSToken" value="cc3ac83195fc154c21f3c3fa2675418c6217da346b639b02dd7063355f5eb6e0"/>
    <add key="NSTokenSecret" value="0bc075d55237bee74e7207174dfaf93cdef8e144b9035ef03110ec4c203aa98b"/>-->
	<!-- CREDENCIALES NETSUITE PROD-->
	<add key="NSentorno" value="7451241" />
	<add key="NSConsumerKey" value="ce63cf522b9a8693077aec7daa3f7f3b11cb7bccd42a109e2db4ddd9f2071f94" />
	<add key="NSConsumerSecret" value="3875e1166246fda15fb8916ed35f9429bf5e4c65aa884a2d1b2a4d05d0c52228" />
	<add key="NSToken" value="fd0f8baa2fbea3f7f095d8a560e6838ac8008f74381615a113ab025d750f2d80" />
	<add key="NSTokenSecret" value="4ecdff3d28ccedb08c69cace6f5efa0e53740a0c5a29dc18eb48c20e9daf0598" />
    <!-- SCRIPTID NETSUITE PROD-->
    <add key="NSConsultaClientes" value="649" />
    <add key="NSConsultaVehiculos" value="700" />
    <add key="NSConsultacobertura" value="650" />
    <add key="NSConsultaCatalogos" value="1070" />
    <add key="NSConsultaChequeos" value="4047" />
    <add key="NSIngresaDeposito" value="1187" />
    <add key="NSIngresaTurno" value="706" />
    <add key="NSIngresaOrden" value="685" />
    <add key="NSAplicaDeposito" value="1191" />
    <add key="NSConsultaDeudas" value="661" />  
	<add key="NSItemChequeoTurno" value="28231" />  
    <!-- PARAMETROS NETSUITE PROD-->
    <add key="NSParamDatosClientes" value="&amp;opcion={0}&amp;identificacion={1}&amp;idcliente={2}&amp;oficina={3}&amp;idtipocliente={4}&amp;indice={5}" />
    <add key="NSParamCatalogosClientes" value="&amp;codigotabla={0}&amp;idprovincia={1}&amp;idcanton={2}&amp;idparroquia={3}&amp;indice={4}" />
    <add key="NSParamCatalogosBienes" value="&amp;codigotabla={0}&amp;marca={1}&amp;modelo={2}&amp;tipo={3}&amp;tipovehiculo={4}&amp;tipovehdet={5}&amp;indice={6}" />
    <add key="NSParamDatosProducto" value="&amp;opcion={0}&amp;codigovehiculo={1}&amp;idvehiculo={2}&amp;codigocliente={3}&amp;idcliente={4}&amp;idgrupoproducto={5}&amp;codgrupoproducto={6}&amp;fechaini={7}&amp;fechafin={8}&amp;criterio={9}" />
    <add key="NSParamCatProParam" value="&amp;codigotabla={0}&amp;grupoproducto={1}&amp;nivelprecio={2}&amp;parametro={3}&amp;valor={4}" />
    <add key="NSParamCatIva" value="&amp;codigotabla={0}&amp;idiva={1}" />
	<add key="NSParamCatITEM" value="&amp;codigotabla=ITEM&amp;idproducto={0}&amp;nivelprecio=1" />
    <add key="NSParamCatalogosClientes" value="&amp;codigotabla={0}&amp;idprovincia={1}&amp;idcanton={2}&amp;idparroquia={3}&amp;indice={4}&amp;id={5}" />
    <add key="NSParamCatalogosCompanias" value="&amp;codigotabla={0}&amp;idcanal={1}&amp;ruc={2}&amp;criterio={3}" />
    <add key="NSParamCatalogosColor" value="&amp;codigotabla={0}&amp;idcolor={1}" />
    <add key="NSParamDatosVehiculos" value="&amp;opcion={0}&amp;codigovehiculo={1}&amp;idvehiculo={2}&amp;codigocliente={3}&amp;idcliente={4}&amp;indice={5}&amp;criterio={6}&amp;tipobien={7}" />
    <add key="NSParamChequeos" value="&amp;opcion={0}&amp;idvehiculo={1}&amp;codigovehiculo={2}&amp;idcliente={3}&amp;identificacion={4}&amp;idos={5}&amp;os={6}" />
    <add key="NSParamCobertura" value="&amp;opcion={0}&amp;codigovehiculo={1}&amp;idvehiculo={2}&amp;codigocliente={3}&amp;idcliente={4}&amp;idgrupoproducto={5}&amp;codgrupoproducto={6}&amp;fechaini={7}&amp;fechafin={8}&amp;criterio={9}" />
    <add key="NSParamDatosProducto" value="&amp;opcion={0}&amp;codigovehiculo={1}&amp;idvehiculo={2}&amp;codigocliente={3}&amp;idcliente={4}&amp;idgrupoproducto={5}&amp;codgrupoproducto={6}&amp;fechaini={7}&amp;fechafin={8}&amp;criterio={9}" />
    <add key="NSParamDatosTalleres" value="&amp;opcion=101&amp;idtaller=&amp;codtaller=&amp;descripcion=&amp;idoficina=" />
    <add key="NSParamDeudas" value="&amp;tipoOperacion={0}&amp;internalId={1}&amp;entityid={2}" />
    <!-- INGRESOS NETSUITE PROD-->
    <add key="NSParamInsertDeposito" value="&quot;customerform&quot;: &quot;{0}&quot;,&quot;customer&quot;: &quot;{1}&quot;,&quot;payment&quot;: &quot;{2}&quot;,&quot;meno&quot;: &quot;{3}&quot;,&quot;paymentoption&quot;: &quot;{4}&quot;,&quot;fecha&quot;: &quot;{5}&quot;,&quot;department&quot;: &quot;{6}&quot;,&quot;location&quot;: &quot;{7}&quot;,&quot;subsidiary&quot;: &quot;{8}&quot;,&quot;usuario&quot;: &quot;{9}&quot;,&quot;custbody_ec_origen_ingreso&quot;: &quot;{10}&quot;,&quot;custbody_ec_cuotas_dif&quot;: &quot;{11}&quot;,&quot;custbody_ec_diferido&quot;: {12},&quot;custbody_ht_pago_ntarjeta&quot;:&quot;{13}&quot;,&quot;custbody_ht_pago_voucher&quot;:&quot;{14}&quot;,&quot;custbodyec_recaps&quot;:&quot;{15}&quot;,&quot;custbodyht_pago_emisor&quot;:&quot;{16}&quot;,&quot;custbody_ec_comentario&quot;: &quot;{17}&quot;" />
    <add key="NSParamInsertEmail" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idcliente&quot;:&quot;{1}&quot;,&quot;correo&quot;:&quot;{2}&quot;,&quot;correoprincipal&quot;:{3},&quot;tipocorreo&quot;:&quot;{4}&quot;" />
    <add key="NSParamInsertTelefono" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idcliente&quot;:&quot;{1}&quot;,&quot;telefono&quot;:&quot;{2}&quot;,&quot;telefonoprincipal&quot;:{3},&quot;tipotelefono&quot;:&quot;{4}&quot;" />
    <add key="NSParamInsertDireccion" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idcliente&quot;:&quot;{1}&quot;,&quot;direccioncorta&quot;:&quot;{2}&quot;,&quot;direccion&quot;:&quot;{3}&quot;,&quot;idpais&quot;:&quot;{4}&quot;,&quot;telefono&quot;:&quot;{5}&quot;,&quot;tipodireccion&quot;:&quot;{6}&quot;,&quot;idprovincia&quot;:&quot;{7}&quot;,&quot;idcanton&quot;:&quot;{8}&quot;,&quot;idparroquia&quot;:&quot;{9}&quot;,&quot;enviopredeterminado&quot;:{10},&quot;facturapredeterminado&quot;:{11}" />
    <add key="NSParamUpdateBienes" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;placa&quot;: &quot;{1}&quot;,&quot;aniovehiculo&quot;: &quot;{2}&quot;,&quot;idaseguradora&quot;: &quot;{3}&quot;,&quot;idvehiculo&quot;: &quot;{4}&quot;" />
    <add key="NSParamUpdateClientes" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idcliente&quot;: &quot;{1}&quot;,&quot;direccion:&quot;: &quot;{2}&quot;,&quot;tipocliente&quot;: &quot;{3}&quot;,&quot;esempresa&quot;: &quot;{4}&quot;,&quot;primernombre&quot;: &quot;{5}&quot;,&quot;segundornombre&quot;: &quot;{6}&quot;,&quot;apellidopaterno&quot;: &quot;{7}&quot;,&quot;apellidomaterno&quot;: &quot;{8}&quot;,&quot;telefono&quot;: &quot;{9}&quot;,&quot;email&quot;: &quot;{10}&quot;,&quot;oficina&quot;: &quot;{11}&quot;,&quot;tipopersona&quot;: &quot;{12}&quot;,&quot;identificacion&quot;: &quot;{13}&quot;,&quot;tipodocumento&quot;: &quot;{14}&quot;,&quot;pais&quot;: &quot;{15}&quot;,&quot;ejecutivaventa&quot;: &quot;{16}&quot;,&quot;ejecutivarenovacion&quot;: &quot;{17}&quot;" />
    <add key="NSParamUpdateEmail" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;iddireccion&quot;: &quot;{1}&quot;,&quot;correo&quot;: &quot;{2}&quot;,&quot;principal&quot;: &quot;{3}&quot;,&quot;tipocorreo&quot;: &quot;{4}&quot;" />
    <add key="NSParamUpdateTelefono" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idtelefono&quot;: &quot;{1}&quot;,&quot;telefono&quot;: &quot;{2}&quot;,&quot;principal&quot;: &quot;{3}&quot;,&quot;tipotelefono&quot;: &quot;{4}&quot;" />
    <add key="NSParamUpdateDireccion" value="&quot;opcion&quot;:&quot;{0}&quot;,&quot;idcliente&quot;:&quot;{1}&quot;,&quot;iddireccion&quot;:&quot;{2}&quot;,&quot;iddirecciondetalle&quot;:&quot;{3}&quot;,&quot;direccioncorta&quot;:&quot;{4}&quot;,&quot;direccion&quot;:&quot;{5}&quot;,&quot;idpais&quot;:&quot;{6}&quot;,&quot;telefono&quot;:&quot;{7}&quot;,&quot;tipodireccion&quot;:&quot;{8}&quot;,&quot;idprovincia&quot;:&quot;{9}&quot;,&quot;idcanton&quot;:&quot;{10}&quot;,&quot;idparroquia&quot;:&quot;{11}&quot;" />
    <add key="NSParamInsertOS" value="||&quot;accion&quot;: &quot;{0}&quot;,&quot;cliente&quot;: &quot;{1}&quot;,&quot;bien&quot;: &quot;{2}&quot;,&quot;fecha&quot;: &quot;{3}&quot;,&quot;numeroOperacion&quot;: &quot;{4}&quot;,&quot;nota&quot;: &quot;{5}&quot;,&quot;representanteVenta&quot;: &quot;{6}&quot;,&quot;centroCosto&quot;: &quot;{7}&quot;,&quot;ubicacion&quot;: &quot;{8}&quot;,&quot;terminoPago&quot;: &quot;{9}&quot;,&quot;aprobacionventa&quot;: &quot;{10}&quot;,&quot;aprobacioncartera&quot;: &quot;{11}&quot;,&quot;formapago&quot;: &quot;{12}&quot;,&quot;clientefacturar&quot;: &quot;{13}&quot;,&quot;items&quot;:[{14}]|!" />
    <add key="NSParamInsertOSitem3" value="||&quot;item&quot;: &quot;{0}&quot;,&quot;cantidad&quot;: &quot;{1}&quot;,&quot;ubicacion&quot;: &quot;{2}&quot;,&quot;unidad&quot;: &quot;{3}&quot;,&quot;nivelPrecio&quot;: &quot;{4}&quot;,&quot;precio&quot;: &quot;{5}&quot;,&quot;monto&quot;: &quot;{6}&quot;,&quot;codigoImpuesto&quot;: &quot;{7}&quot;,&quot;importeImpuesto&quot;: &quot;{8}&quot;,&quot;importeBruto&quot;: &quot;{9}&quot;,&quot;descripcion&quot;: &quot;{10}&quot;,&quot;transmision&quot;: &quot;{11}&quot;,&quot;undcobertura&quot;: &quot;{12}&quot;|!" />
    <add key="NSParamInsertOSitem4" value="||&quot;item&quot;: &quot;{0}&quot;,&quot;cantidad&quot;: &quot;{1}&quot;,&quot;ubicacion&quot;: &quot;{2}&quot;,&quot;unidad&quot;: &quot;{3}&quot;,&quot;nivelPrecio&quot;: &quot;{4}&quot;,&quot;importe&quot;: &quot;{5}&quot;,&quot;monto&quot;: &quot;{6}&quot;,&quot;codigoImpuesto&quot;: &quot;{7}&quot;,&quot;importeImpuesto&quot;: &quot;{8}&quot;,&quot;importeBruto&quot;: &quot;{9}&quot;,&quot;descripcion&quot;: &quot;{10}&quot;|!" />
    <add key="NSParamInsertTurno" value="&quot;ordenServicioSys&quot;: &quot;{9}&quot;,&quot;ordenServicio&quot;: &quot;{0}&quot;,&quot;customer&quot;: &quot;{1}&quot;,&quot;item&quot;: &quot;{2}&quot;,&quot;fecha&quot;: &quot;{3}&quot;,&quot;hora&quot;: &quot;{4}&quot;,&quot;taller&quot;: &quot;{5}&quot;,&quot;codigoTurno&quot;: &quot;{6}&quot;,&quot;codigoTecnico&quot;: &quot;{7}&quot;,&quot;iDVehiculo&quot;: &quot;{10}&quot;,&quot;usuarioCreacion&quot;: &quot;{8}&quot;" />
    <add key="NSParamInsertfactura" value="&quot;accion&quot;: &quot;{0}&quot;,&quot;ordenServicio&quot;: &quot;{1}&quot;" />
    <add key="NSParamInserttrabajo" value="&quot;customerform&quot;: &quot;{0}&quot;,&quot;customer&quot;: &quot;{1}&quot;,&quot;usuario&quot;: &quot;{2}&quot;,&quot;orden&quot;: &quot;{3}&quot;,&quot;vehiculo&quot;: &quot;{4}&quot;" />
    <add key="NSParamAplicaDeposito" value="&quot;idDepositoCliente&quot;: &quot;{0}&quot;,&quot;idFactura&quot;: &quot;{1}&quot;,&quot;idCliente&quot;: &quot;{2}&quot;,&quot;idBanco&quot;: &quot;{3}&quot;,&quot;valor&quot;: &quot;{4}&quot;,&quot;memo&quot;: &quot;{5}&quot;,&quot;subsidiary&quot;: &quot;{6}&quot;,&quot;department&quot;: &quot;{7}&quot;,&quot;location&quot;: &quot;{8}&quot;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>